body{
    direction: ltr !important;
    text-align: left;
}
.form-search button.btn-o-b {
    float: right;
}
.form-search input {
    float: left;
}
.footer-ul i {
    margin-left: auto;
    margin-right: 10px;
}
.input-password a {
    left: auto;
    right: 10px;
}
@media (min-width:768px ){
    .footer-contact .row>div:first-child {
        border-left: none;
        border-right: 1px solid #ededed;
    }
}